@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KelionesIMarsa.Models.Journey


@{
    ViewBag.Title = "Kelionės redagavimas";
}

<h2>Numatomos kelionės redagavimas</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">


        @if (TempData.ContainsKey("success"))
        {
            <p class="bg-success" style="padding: 15px 15px 15px 15px">@TempData["success"].ToString()</p>
        }
        @if (TempData.ContainsKey("error"))
        {
            <p class="bg-danger" style="padding: 15px 15px 15px 15px">@TempData["error"].ToString()</p>
        }

        @using (Html.BeginForm("update", "AdminTrips"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Kelionė</h4>
                <hr />
                @Html.HiddenFor(model => model.id_Journey)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.dateOfJourney, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dateOfJourney, new { htmlAttributes = new { @class = "form-control", @type = "date", @value=Model.dateOfJourney.Date } })
                        @Html.ValidationMessageFor(model => model.dateOfJourney, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.flightDuration, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.flightDuration, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.flightDuration, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.duration, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.duration, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.duration, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.numberOfSeats, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.numberOfSeats, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.numberOfSeats, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.points, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.points, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.points, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.fk_Locationid_Location, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.fk_Locationid_Location, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.fk_Locationid_Location, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Išsaugoti pakeitimus" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Atgal", "openAdminTripsList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



