@model KelionesIMarsa.Models.Meal

@{
    ViewBag.Title = "Delete";
}

<h2>Patiekalo šalinimas</h2>

<h3>Ar tikrai norite pašalinti šį patiekalą?</h3>
<div>
    <h4>Patiekalas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calories)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.id_Meal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_Meal)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (ViewBag.naudojama != null)
            {
                <h5 style="color:red">@ViewBag.naudojama</h5>
            }
            else
            {
                <input type="submit" value="Šalinti" class="btn btn-danger" />
            }
            @Html.ActionLink("Atgal", "MealList", new { @class = "btn btn-default" })
        </div>
    }
</div>