@model IEnumerable<KelionesIMarsa.Models.Meal>

@{
    ViewBag.Title = "Patiekalai";
}

<h2>Patiekalų sąrašas</h2>

<p>
    @Html.ActionLink("Naujas patiekalas", "CreateMeal", new { @class = "btn btn-success" })
</p>
<table class="table table-striped datatable">
    <thead>
        <tr style="background-color: lightblue">
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_Meal)
            </th>
            <th style="width: 18%"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.calories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_Meal)
                </td>
                <td>
                    @Html.ActionLink("Redaguoti", "EditMeal", new { id = item.id_Meal }, new { @class = "btn btn-primary action" })
                    @Html.ActionLink("Šalinti", "DeleteMeal", new { id = item.id_Meal }, new { @class = "btn btn-danger action" })
                </td>
            </tr>
        }
    </tbody>

</table>